*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
body{
    background: rgb(227, 225, 225);
}

#container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}
header{
    background: black;
    color: rgb(227, 225, 225);
    padding: 20px;
    justify-content: space-around;

}
header nav ul{
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
}

header nav ul li a{
    color: rgb(227, 225, 225);
    text-transform: uppercase;
    padding: 5px 10px;

}
header nav ul li a:hover{
    text-decoration: underline 5px rgb(227, 225, 225);
}
#conteudo{
    display: grid;
    grid-template-columns: 1fr 200px;
    gap: 20px;
    padding: 20px;
}